@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
     */
}

a {
  @apply text-primary-500 hover:text-orange-500 dark:text-foreground dark:hover:text-foreground-400;
}

h1,
h2,
h3,
h4 {
  @apply font-roboto font-bold;
}

.text-gradient-blue {
  @apply bg-gradient-to-tr from-blue-500 to-sky-300 bg-clip-text text-transparent;
}

.page-title {
  @apply text-xl md:text-2xl lg:text-4xl font-bold mx-auto text-center;
}

.text-gradient {
  @apply animate-text bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 
  bg-clip-text text-transparent text-2xl @sm:text-3xl @md:text-4xl @2xl:text-5xl;
}

/* Widget */
.widget {
  @apply flex flex-col w-full bg-white dark:bg-slate-700 border rounded-xl shadow-md;
}

.widget-title {
  @apply bg-slate-100 rounded-t-xl text-xl font-bold pb-3 border-b px-5 py-3;
}

.widget-content {
  @apply min-h-[80px] p-5;
}

.post-content {
  @apply flex flex-col gap-4 text-justify;
}

.post-content p {
  @apply text-sm lg:text-base min-h-[24px] mb-3;
}
.post-content pre {
  @apply bg-gray-300 dark:bg-slate-600 border p-5 rounded-lg overflow-auto;
}

.post-content table {
  @apply table-auto border rounded-lg;
}

.post-content table th,
.post-content table td {
  @apply py-2 px-5 border;
}

.post-content table th {
  @apply bg-gray-200 dark:bg-slate-500;
}

.post-content ol {
  @apply list-decimal pl-4;
}

.post-content li {
  @apply mb-2;
}
